header{
    width: 100%;
    height: 200px;
    overflow: hidden; /*Eliminamos errres del float*/
    background:rgb(2, 80, 140);
    margin-bottom: 20px;
}
.wrapper{
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

header nav{
    float: right;
    line-height: 90px;
}
header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover{
    background: #0b96f3;
    border-radius: 10px;
}
.hec{
    width: 100%;
    height: 30px;
    background-color: black;
    color: #fff;
}
 .hect a{
    color: #fff;
}